body{
    background: lightgoldenrodyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.app-title{
    text-align: center;
    font-size: 70px;
    color: mediumaquamarine;
}

.todo-list{
    text-align: center;
    color: mediumaquamarine;
}
